# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
.nx/self-healing
.prettierrc
pnpm-lock.yaml
**/nodes_modules/**
**/dist/**
**/tsconfig.tsbuildinfo
